body{
	font-family: 'PixelMplus10-Regular';
    background-color: #143265;
    width:100vw;
    height:100vh;
}

@font-face {
    font-family: 'PixelMplus10-Regular';
    src:url('fonts/PixelMplus10-Regular.ttf');
}
.round{
    border-radius: 20px;
}

.title{
	position: fixed;
	top: 120px;
	width:100vw;
	text-align: center;
	font-size: 70px;
	color: white;
}
.sub{
	position: fixed;
	top: 70px;
	width:100vw;
	text-align: center;
	font-size: 30px;
	color: gray;
}
.howtoButton{
	position: fixed;
	bottom:110px;
	margin:0 5vw 0 80vw;
	font-size: 50px;
	width:15vw;
}
.howtoButton:hover{
	opacity: 0.7;
}
.caption{
	width:100vw;
	height:100vh;
	position: fixed;
	z-index: 100;
	top:0;
	background-color: #ebd45d44;
	display: none;
}
.slider{
	position: fixed;
	top:150px;
	opacity: 1.0;
	width:80vw;
	margin:auto;
	display: none;
}
.slider img{
	width:80vw;
}
.batu{
	position: fixed;
    top: 120px;
    opacity: 0.8;
    width: 65px;
    right: 6vw;
    z-index: 200;
    display: none;
}
header{
	width:100vw;
	height:50px;
	position: fixed;
	top:0;
	background-color: #4888b1;
}
footer{
	width:100vw;
	height:50px;
	position: fixed;
	background-color: #4888b1;
	bottom:0;
}